.body {
background-color: aqua;
}

#sun{
    text-align: justify;
    display: block;
    position: absolute;
    right: 70px;
}

.card-body {
    margin-top: 2em;
    display: block;
    border-style: dotted;
}

.card {  
    border-style: solid;
    text-align: center;
    margin-top: 1em;
    margin-bottom: .5em;
    font-family: monospace;
    font-size: 2vw;

}

.username {
    border-style: solid;
    margin-top: .5em;
    margin-bottom: .5em;
    font-family: 'Times New Roman', Times, serif;
}

.title {
    margin-top: .5em;
    margin-bottom: .5em;
    font-family: 'Times New Roman', Times, serif;
}

.context {
    border-style: solid;
    margin-top: .5em;
    margin-bottom: .5em;
    font-family: 'Times New Roman', Times, serif;
}