header {
text-align: right;
}



body {
  background-color: var(--secondary-color);
}

:root{
  --primery-color: #edf2fc;
  --secondary-color: #fff;
}

.dark-theme {
  --primery-color: #edf2fc;
  --secondary-color: #212121
}

#icon {
  width: 30px;
  cursor: pointer;
}


.split {
  height: 50%;
  bottom: 25%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 10em;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Control the left side */
.left {
  left: 0;
  background-color: var(--primery-color);
}

/* Control the right side */
.right {
  right: 0;
  background-color: var(--primery-color);
}

/* If you want the content centered horizontally and vertically */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* Style the image inside the centered container, if needed */
.centered img {
  width: 450px;
  border-radius: 30%;
  border-style: solid;
  border-radius: 100px;
  padding: 10px;
  flex: 0 0 300px;
  margin: 0em;
}


.WIM {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
  text-align: center;
}

.useraname,
.title,
.context { 
  align-self: start;
  display: block;
  border-style: double;
  font-size: 100px;
  text-align: left;
  }

input {
  display: block;
  align-self: start;
  padding-top: 1em;
}

  a {
    border-style: solid;
    padding-block: 2em;
    width: auto;
  }

  .footer {
      background-color: var(--primery-color);
      text-align: center;
      padding: 3em;
  }